.maincontainer {
    border: 0px;
    margin: auto;
    width: 500px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: #8c6371;
    margin: 20px auto;  
    padding: 20px 20px;
    border-radius: 3px;
}

.sudokucontainer {
    margin: 20px auto;
}

.buttoncontainer {
    margin: 10px auto;
}

.square {
    font-size: 125%;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 1px;
    border: none;
}

.sudokubutton {
    font-size: 125%;
    color: white;
    width: 100px;
    height: 50px;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #8c6371;
    border: none;
    border-radius: 2px;
}

.sudokubutton:hover {
    box-shadow: 5px 5px 20px #8c6371;
    translate: 0 -2px;
    transition: box-shadow 1s;
    transition: translate 1s;
}

.slidercontainer {
    display: flex;
    justify-content: center;
    background-color: #8c6371;
    border-radius: 5px;
    height: 50px;
}

.slidertitle {
    color: white;
    margin: auto 20px;
}

.slider {
    appearance: none;
    background-color: none;
    width: 250px;
    height: 20px;
    margin: auto 20px;
    padding: 5px 10px;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #8c6371;
    border-radius: 10px;
    cursor: pointer;
}

.slidertext {
    width: 30px;
    margin: auto 20px;
    color: white;
}